<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
</head>
<body>
  <div class="hero">
    <nav>
      <img src="./assets/BJP-logo.png" style="height: 40px;width: 40px;" class="logo">
      <p style="font-weight: 500;margin-left: 10px;font-size: 20px;
      color: #444242;">BJP Narsinghpur</p>
    </nav>
    <div class="info" style="display: flex;">
      <div>
        <h1 style="font-size: 80px;">Pratap Patel</h1>
        <h1>State Executive Member<br>BJP Madhya Pradesh</h1>
        <p>Connect with Pratap Patel Via Follwing Modes</p>
        <a (click)="call()" class="btn">Whatsapp</a>


        <div class="social">
          <a href="https://www.facebook.com/Pratap119/"><i class="fab fa-facebook-square"></i></a>
          <a href="https://www.instagram.com/pratappatelbjp/"><i class="fab fa-instagram"></i></a>
          <a href="https://www.linkedin.com/in/pratap-patel-00b250258/"><i class="fab fa-linkedin-in"></i></a>
          <a href="https://mobile.twitter.com/pratappatel119"><i class="fab fa-twitter"></i></a>
        </div>
      </div>
      <div>
        <img src="./assets/3.png" class="man-img">
      </div>

    </div>


    <div class="info">
      <h1>About</h1>
      <p>Pratap Patel (born 9 August 1970) is an Indian politician of the Bhartiya Janata Party. He currently serving as
        S state Executive Member BJP Madhya Pradesh.He has elected for Legislative assembly on 2003 and 2007 in Madhya
        Pradesh from Bahujan Samaj Party. He has worked with Kanshi Ram, the founder of Bahujan Samaj Party and later on
        the party was held by mayawati. Date of Birth -:09 August 1970 , Place-: Narsinghpur district, Madhya Pradesh,
        India, Political Party-: Bhartiya Janata Party, Residence-: Narsinghpur, Madhya Pradesh, Profession-:
        Politician. Currently Working for BJP in Madhya Pradesh and Coping up with all the BJP ‘Karyakartas’ in State.
        Also IN-Charge of the whole Chindwada District in OBC leadership of the party. His Mentor honorable Rajya Sabha
        Member Shri Kailash Soni Ji ,Always follow his path in term of Politics and Normal career as well.</p>
      <h1>Early Life</h1>
      <p>Early in 1992 Pratap Patel started working on Municipal Corporation, Gadarwada (M.P.) as Assistant Engineer and
        basically operates construction related opeartions in Municipal Corporation, Gadarwada (M.P.). Then after he
        started his own office in Gadarwada as Patel Associates[1] and started Constructions ( building, Colony planning
        , Valuations, etc). Then He joined Politics from Bahujan samaj party which is originated from Utar pradesh and
        founded by Shri Kanshi Ram Ji and He first contested from 2003 Madhya Pradesh Legislative elections and the
        contested in 2008 Legislative Elections Madhya Pradesh.[2][failed verification] Then Later on he joined Bhartiya
        Janata Party on 2012 and Joined under leadership of Shri Shivraj Singh Chouhan and then became District Vice
        President From Narsinghpur (M.P.). Then later on in Year 2021 he Became State Executive Member from Bhartiya
        Janata Party.</p>
        <div style="padding: 20px;"></div>
    </div>
    <div style="  color: #606163;line-height: 22px;margin-top: 10px;margin-bottom: 20px; align-items: center;display: flex;justify-content: center; ">
      <p>© 2024 Office of Pratap Patel</p>
    </div>
    <div style="padding: 1px;"></div>
  </div>


</body>

</html>